@use "./variables" as*;
/*-----------------------------------------------------HEADER--------------------------------------------------------*/

header{
    position: sticky;
    top: 0;
    z-index: 500;
 background-color: $tercero;
    width: 100%;
 .logo{
     width: 75px;
    margin-right: 2px;
 }

 .a{
    text-decoration: none;
    color: $blanco ;
    text-transform: uppercase;
  
}
}


/*---------------------------------------------------------FOOTER----------------------------------------------------*/
footer{
    background-color: $tercero;
    color: $blanco;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  margin-top: 2%;

  img{
    width: 50px;
    }

}