@use "./variables" as*;
/*--------------------------------------------------MEDIA QUERIES----------------------------------------------------*/

/* CELULARES/MOBILE*/


@media(max-width:480px){

    /*FOOTER*/

     .img-facebook{
        display: none;
    }
    .img-gmail{
        display: none;
    }
    .predes{
        display: none;
    }
    .pcontactos{
        display: none;
    }
    /* MAIN DE INDEX*/

    .contenedor-index{
    display: grid;
    grid-template-areas: 

    "titulo1"
    "img1"
    "texto1"
    "titulo2"
    "texto2"
    "titulo3"
    "texto3"
    ;
 
    grid-template-columns: 95%;

    grid-template-rows: 75px 250px 550px 50px  550px 75px 550px 15px;

    gap: 15px;
    

    justify-content:center;

    justify-items:center;

    align-items:center;
        
    .personal-index{
         display: none;
    }

    p{
    padding-left: 5%;
    }
    .parrafo-dos{
    margin-left: 2%;
    }
    img{
    box-shadow: none;
    padding-left: 7%;
    }

    }
    /*MAIN DE SUCURSALES*/

    .contenedor-sucursales{
    display:grid ;
    grid-template-areas: 
    "titulop"
    "titulosf"
    "ifsf"
    "textosf"
    "tituloc"
    "ifc"
    "textoc"
    "titulorc"
    "ifrc"
    "textorc"
    "tituloar"
    "ifar"
    "textoar"
    ;
    grid-template-columns: 95%;
    grid-template-rows: 75px 75px 250px 600px  75px 250px 450px  75px 250px 450px  75px 250px 450px 5px;
    justify-content: center;

    justify-items: center;

    align-items: center;
    
    gap: 8px;

    .san-francisco{
    padding-left: 2%;
    }
    .sanfranp{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .cordobap{
    padding-top: 5%;
    }
    
    p{
    padding-left: 2%;
    }

    }


    /*MAIN DE LABORATORIO*/

    .contenedor-lab1{
    grid-template-areas: 
    "titulo1"
    "texto1"
     "texto2"
    ;
    grid-template-columns: 95%;

    grid-template-rows: 50px 450px  250px 45px;
     
    justify-content: center;

    justify-items: center;

    align-items: center;
    row-gap: 30px;

    .img-lab2{
        display: none;
    }
    .img-lab1{
        display: none;
    }
    .parrafo1{
        padding-left: 2%;
    }
}

    .contenedor-lab2{
    display: grid;
    grid-template-areas: 
    "titulo-uno"
    "sub1"
    "sub2"
    "sub3"
    "sub4"
    "sub5"
    "sub6"
    "sub7"
    "sub8"
    "sub9"
    ;
    grid-template-columns: 95%;
    
    grid-template-rows: 75px 175px 175px 175px 175px 175px 175px 175px 175px 175px 10px;

    justify-content: center;

    justify-items: center;

    align-items: center;
    row-gap: 15px;

    .titulo3{
        display: none;
    }
    .titulo2{
        padding-left: 5%;
    }
    .orina{
        padding-right: 15%;
    }
    .micro{
        padding-right: 20%;
        padding-left: 2%;
    }
    .alergias{
        padding-right: 20%;
    }
    .roedores{
        padding-right: 20%;
    }
    
    }

    /*MAIN DE CONTACTOS*/
    .formulario{
    display: grid;

    grid-template-areas: 
    "titulo"
    "texto"
    "form"
    ;

    grid-template-columns: 95%;

    grid-template-rows: 25px 300px 550px 15px ;

    justify-content: center;
    
    justify-items: center;
    
    align-items: center;
   gap: 5px;
  
   
    .textop{
        display: none;
    }
    .textomobile{
        grid-area: texto;
        display: inline-block;

    }

    }

}