@use "../generales/variables" as*;

/*--------------------------------------------------------MAIN DE INDEX------------------------------------------*/
.contenedor-index{ 
    display:grid;
   
    grid-template-areas:
    
    "titulo1 titulo1 titulo1"
    "img1 texto1 texto1"
    "titulo2 titulo2 titulo2"
    "texto2 texto2 img2"
    "titulo3 titulo3 titulo3"
    "img3 texto3 texto3"
    ;


    grid-template-columns: 30% 30% 30% ;

    grid-template-rows: 75px 250px 100px 250px 100px 250px 40px;

    gap: 8px;
    

    justify-content:center;

    justify-items:center;

    align-items:center;
   
    img{

        @include high(100%,100%)
    }

    .titulo-uno {
        grid-area:titulo1 ;
        margin: 5px;
        
    }

    .parrafo-uno{
        grid-area:texto1;
        margin-left: 2%;
    }

    .gatitos-index{
        grid-area:img1;
    }


    .titulo-dos{
        grid-area:titulo2;
        
    }

    .parrafo-dos{
        grid-area:texto2;
        margin-right: 2%;
    }

    .clinica-index{
        grid-area:img2;
        
    }

    .titulo-tres{
        grid-area:titulo3;
    
    }

    .personal-index{
        grid-area:img3;
        
    
    }

    .parrafo-tres{
        grid-area:texto3 ;
        margin-left: 2%;
        padding-top: 5%;
    
    }



}